In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.impute import KNNImputer

In [2]:
data = pd.read_csv('E Commerce Dataset.csv')
data

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

In [3]:
data.describe(include='all')

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5366.000000,5630,5630.000000,5379.000000,5630,5630,5375.000000,5630.000000,5630,5630.000000,5630,5630.000000,5630.000000,5365.000000,5374.000000,5372.000000,5323.000000,5630.000000
unique,NaN,NaN,NaN,3,NaN,NaN,7,2,NaN,NaN,6,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Mobile Phone,NaN,NaN,Debit Card,Male,NaN,NaN,Laptop & Accessory,NaN,Married,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,2765,NaN,NaN,2314,3384,NaN,NaN,2050,NaN,2986,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,52815.500000,0.168384,10.189899,NaN,1.654707,15.639896,NaN,NaN,2.931535,3.688988,NaN,3.066785,NaN,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.221492
std,1625.385339,0.374240,8.557241,NaN,0.915389,8.531475,NaN,NaN,0.721926,1.023999,NaN,1.380194,NaN,2.583586,0.451408,3.675485,1.894621,2.939680,3.654433,49.193869
min,50001.000000,0.000000,0.000000,NaN,1.000000,5.000000,NaN,NaN,0.000000,1.000000,NaN,1.000000,NaN,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,0.000000,2.000000,NaN,1.000000,9.000000,NaN,NaN,2.000000,3.000000,NaN,2.000000,NaN,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,146.000000
50%,52815.500000,0.000000,9.000000,NaN,1.000000,14.000000,NaN,NaN,3.000000,4.000000,NaN,3.000000,NaN,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.000000
75%,54222.750000,0.000000,16.000000,NaN,3.000000,20.000000,NaN,NaN,3.000000,4.000000,NaN,4.000000,NaN,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.000000
max,55630.000000,1.000000,61.000000,NaN,3.000000,127.000000,NaN,NaN,5.000000,6.000000,NaN,5.000000,NaN,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,325.000000

### Extracting the numerical and Categorical columns

In [4]:
numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns.tolist()
numerical_cols

['CustomerID',
 'Churn',
 'Tenure',
 'CityTier',
 'WarehouseToHome',
 'HourSpendOnApp',
 'NumberOfDeviceRegistered',
 'SatisfactionScore',
 'NumberOfAddress',
 'Complain',
 'OrderAmountHikeFromlastYear',
 'CouponUsed',
 'OrderCount',
 'DaySinceLastOrder',
 'CashbackAmount']

In [5]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
categorical_cols

['PreferredLoginDevice',
 'PreferredPaymentMode',
 'Gender',
 'PreferedOrderCat',
 'MaritalStatus']

#### Dropping 'CustomerID' from numerical columns as it's an identifier, not a feature

In [7]:
numerical_cols.remove("CustomerID")
numerical_cols

['Churn',
 'Tenure',
 'CityTier',
 'WarehouseToHome',
 'HourSpendOnApp',
 'NumberOfDeviceRegistered',
 'SatisfactionScore',
 'NumberOfAddress',
 'Complain',
 'OrderAmountHikeFromlastYear',
 'CouponUsed',
 'OrderCount',
 'DaySinceLastOrder',
 'CashbackAmount']

### Handling missing values

In [8]:
missing_value_count = data.isnull().sum()
missing_value_count

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

### Imputting the missing values in the numerical columns using KNN method

In [9]:
## Initialising the imputer

imputer = KNNImputer(n_neighbors=5)

In [10]:
# Creating a copy of the numerical data to avoid modifying the original DataFrame
numerical_data_to_impute = data[numerical_cols].copy()

# Fitting and transforming the numerical data to impute the missing values
imputed_data = imputer.fit_transform(numerical_data_to_impute)

# Convert the imputed numpy array back to a DataFrame with original column names
imputed_numerical_data = pd.DataFrame(imputed_data, columns=numerical_cols)
imputed_numerical_data

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1.0,4.0,3.0,6.0,3.0,3.0,2.0,9.0,1.0,11.0,1.0,1.0,5.0,160.0
1,1.0,7.0,1.0,8.0,3.0,4.0,3.0,7.0,1.0,15.0,0.0,1.0,0.0,121.0
2,1.0,11.6,1.0,30.0,2.0,4.0,3.0,6.0,1.0,14.0,0.0,1.0,3.0,120.0
3,1.0,0.0,3.0,15.0,2.0,4.0,5.0,8.0,0.0,23.0,0.0,1.0,3.0,134.0
4,1.0,0.0,1.0,12.0,2.0,3.0,5.0,3.0,0.0,11.0,1.0,1.0,3.0,130.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,0.0,10.0,1.0,30.0,3.0,2.0,1.0,6.0,0.0,18.0,1.0,2.0,4.0,151.0
5626,0.0,13.0,1.0,13.0,3.0,5.0,5.0,6.0,0.0,16.0,1.0,2.0,6.8,225.0
5627,0.0,1.0,1.0,11.0,3.0,2.0,4.0,3.0,1.0,21.0,1.0,2.0,4.0,186.0
5628,0.0,23.0,3.0,9.0,4.0,5.0,4.0,4.0,0.0,15.0,2.0,2.0,9.0,179.0
5629,0.0,8.0,1.0,15.0,3.0,2.0,3.0,4.0,0.0,13.0,2.0,2.0,3.0,169.0

### Imputting the missing values in the categorical columns using One-Hot Encoding

In [11]:
categorical_data = pd.get_dummies(data[categorical_cols])
categorical_data

,PreferredLoginDevice_Computer,PreferredLoginDevice_Mobile Phone,PreferredLoginDevice_Phone,PreferredPaymentMode_CC,PreferredPaymentMode_COD,PreferredPaymentMode_Cash on Delivery,PreferredPaymentMode_Credit Card,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,False,True,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,True
1,False,False,True,False,False,False,False,False,False,True,...,True,False,False,False,True,False,False,False,False,True
2,False,False,True,False,False,False,False,True,False,False,...,True,False,False,False,True,False,False,False,False,True
3,False,False,True,False,False,False,False,True,False,False,...,True,False,False,True,False,False,False,False,False,True
4,False,False,True,True,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,True,False,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,True,False
5626,False,True,False,False,False,False,True,False,False,False,...,True,True,False,False,False,False,False,False,True,False
5627,False,True,False,False,False,False,False,True,False,False,...,True,False,False,True,False,False,False,False,True,False
5628,True,False,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,True,False
5629,False,True,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,True,False

### Combining the processed data

In [12]:
final_data = pd.concat([imputed_numerical_data, categorical_data], axis=1)
final_data

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1.0,4.0,3.0,6.0,3.0,3.0,2.0,9.0,1.0,11.0,...,False,False,False,True,False,False,False,False,False,True
1,1.0,7.0,1.0,8.0,3.0,4.0,3.0,7.0,1.0,15.0,...,True,False,False,False,True,False,False,False,False,True
2,1.0,11.6,1.0,30.0,2.0,4.0,3.0,6.0,1.0,14.0,...,True,False,False,False,True,False,False,False,False,True
3,1.0,0.0,3.0,15.0,2.0,4.0,5.0,8.0,0.0,23.0,...,True,False,False,True,False,False,False,False,False,True
4,1.0,0.0,1.0,12.0,2.0,3.0,5.0,3.0,0.0,11.0,...,True,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,0.0,10.0,1.0,30.0,3.0,2.0,1.0,6.0,0.0,18.0,...,True,False,False,True,False,False,False,False,True,False
5626,0.0,13.0,1.0,13.0,3.0,5.0,5.0,6.0,0.0,16.0,...,True,True,False,False,False,False,False,False,True,False
5627,0.0,1.0,1.0,11.0,3.0,2.0,4.0,3.0,1.0,21.0,...,True,False,False,True,False,False,False,False,True,False
5628,0.0,23.0,3.0,9.0,4.0,5.0,4.0,4.0,0.0,15.0,...,True,False,False,True,False,False,False,False,True,False
5629,0.0,8.0,1.0,15.0,3.0,2.0,3.0,4.0,0.0,13.0,...,True,False,False,True,False,False,False,False,True,False

In [13]:
# Displaying a summary of the final DataFrame to confirm there are no missing values
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 35 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Churn                                  5630 non-null   float64
 1   Tenure                                 5630 non-null   float64
 2   CityTier                               5630 non-null   float64
 3   WarehouseToHome                        5630 non-null   float64
 4   HourSpendOnApp                         5630 non-null   float64
 5   NumberOfDeviceRegistered               5630 non-null   float64
 6   SatisfactionScore                      5630 non-null   float64
 7   NumberOfAddress                        5630 non-null   float64
 8   Complain                               5630 non-null   float64
 9   OrderAmountHikeFromlastYear            5630 non-null   float64
 10  CouponUsed                             5630 non-null   float64
 11  OrderCount                             5630 non-null   float64
 12  DaySinceLastOrder                      5630 non-null   float64
 13  CashbackAmount                         5630 non-null   float64
 14  PreferredLoginDevice_Computer          5630 non-null   bool
 15  PreferredLoginDevice_Mobile Phone      5630 non-null   bool
 16  PreferredLoginDevice_Phone             5630 non-null   bool
 17  PreferredPaymentMode_CC                5630 non-null   bool
 18  PreferredPaymentMode_COD               5630 non-null   bool
 19  PreferredPaymentMode_Cash on Delivery  5630 non-null   bool
 20  PreferredPaymentMode_Credit Card       5630 non-null   bool
 21  PreferredPaymentMode_Debit Card        5630 non-null   bool
 22  PreferredPaymentMode_E wallet          5630 non-null   bool
 23  PreferredPaymentMode_UPI               5630 non-null   bool
 24  Gender_Female                          5630 non-null   bool
 25  Gender_Male                            5630 non-null   bool
 26  PreferedOrderCat_Fashion               5630 non-null   bool
 27  PreferedOrderCat_Grocery               5630 non-null   bool
 28  PreferedOrderCat_Laptop & Accessory    5630 non-null   bool
 29  PreferedOrderCat_Mobile                5630 non-null   bool
 30  PreferedOrderCat_Mobile Phone          5630 non-null   bool
 31  PreferedOrderCat_Others                5630 non-null   bool
 32  MaritalStatus_Divorced                 5630 non-null   bool
 33  MaritalStatus_Married                  5630 non-null   bool
 34  MaritalStatus_Single                   5630 non-null   bool
dtypes: bool(21), float64(14)
memory usage: 731.4 KB

In [14]:
# Display a descriptive summary of the numerical columns
print("\nDescriptive statistics for numerical columns:")
print(final_data.describe())

Descriptive statistics for numerical columns:
             Churn       Tenure     CityTier  WarehouseToHome  HourSpendOnApp  \
count  5630.000000  5630.000000  5630.000000      5630.000000     5630.000000
mean      0.168384     9.978615     1.654707        15.666679        2.912504
std       0.374240     8.454778     0.915389         8.417198        0.712608
min       0.000000     0.000000     1.000000         5.000000        0.000000
25%       0.000000     2.000000     1.000000         9.000000        2.000000
50%       0.000000     8.000000     1.000000        14.000000        3.000000
75%       0.000000    15.000000     3.000000        20.000000        3.000000
max       1.000000    61.000000     3.000000       127.000000        5.000000

       NumberOfDeviceRegistered  SatisfactionScore  NumberOfAddress  \
count               5630.000000        5630.000000      5630.000000
mean                   3.688988           3.066785         4.214032
std                    1.023999           1.380194         2.583586
min                    1.000000           1.000000         1.000000
25%                    3.000000           2.000000         2.000000
50%                    4.000000           3.000000         3.000000
75%                    4.000000           4.000000         6.000000
max                    6.000000           5.000000        22.000000

          Complain  OrderAmountHikeFromlastYear   CouponUsed   OrderCount  \
count  5630.000000                  5630.000000  5630.000000  5630.000000
mean      0.284902                    15.704298     1.781563     3.115631
std       0.451408                     3.620640     1.890736     2.969115
min       0.000000                    11.000000     0.000000     1.000000
25%       0.000000                    13.000000     1.000000     1.000000
50%       0.000000                    15.000000     1.000000     2.000000
75%       1.000000                    18.000000     2.000000     3.200000
max       1.000000                    26.000000    16.000000    16.000000

       DaySinceLastOrder  CashbackAmount
count        5630.000000     5630.000000
mean            4.692256      177.221492
std             3.668480       49.193869
min             0.000000        0.000000
25%             2.000000      146.000000
50%             3.000000      163.000000
75%             8.000000      196.000000
max            46.000000      325.000000